<div class="container">
  <form>
    <div>
      <span id="error-username"></span></br>
      <input type="text" id="username" name="username" placeholder="Type username" required /><br>
    </div>
    <div>
      <span id="error-password"></span></br>
      <input type="password" id="password" name="password" placeholder="Type password" required /><br>
    </div>
    <input id="submit" type="submit" value="Submit" />
  </form>
</div>
